body {
  font-family: sans-serif;
  background: rgb(160, 207, 217);
    background: linear-gradient(151deg, rgba(160, 207, 217, 1) 35%, rgba(93, 196, 218, 1) 100%);
    background-size: cover;
    min-height: 100vh;
}

.logBar{
  display:none !important;
}

#navLogo{
  display: flex;
    justify-content: center;
    padding: 30px 0;
    max-height: 20vh!important;
    max-width:50%;
    min-height: 10%!important;
    filter: invert(100%);
}

#mainPadding{
  padding-top: 200px;
}

#logo{
  display: flex;
    justify-content: center;
    padding: 30px 0;
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

#navDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 0 0 200px 200px;
  transition: top 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navLinks{
  display:block;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#create-form {
  width: 60%;
  aspect-ratio: 1/ .5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#form {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#accountBoxTop{
  display:flex;
  justify-content: space-between;
}

input {
  border-color: #d96055 !important;
}

.logButtons {
  background-color: #d96055 !important;
  width:100%;
  color: white !important;
}

.logButtons:hover {
  background-color: #c42b01 !important;
  color: white;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}

.profileName{
  max-width: 5%;
}

.profileSection{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#buttons{
  display: flex;
  justify-content: center;
}

#buttons button{
  min-width: 150px;
}

.card{
  min-width: 300px !important;
  max-width: 500px !important;
  width:30%;
}

#postDiv{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.content{
  display:flex;
  justify-content: space-between;
}

.level{
  background-color: white;
}

@media only screen and (max-width: 700px) {
  #navDiv{
    flex-direction: column;
  }
  #navDiv p{
    display: none;
  }
}